.modal__overlay {
  z-index: 9998;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000c2;
}

// .modal__overlay.active {
//   display: block;
// }

.custom__modal {
    
    background: #ffffff;
    z-index: 9999;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}